.container{
    border-style: solid;
    border-color: rgb(163, 161, 161);
    width: 14.8cm;
    height: 13cm;
    border-width: 2px;
    border-radius: 0.5cm;
}

.video-frame iframe{
    border-radius: 0.5cm;
}

.like-box{
    /* margin-left: 100px; */
    display: none;
    position: absolute;
    top: 380px;
    left: 22%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    pointer-events: none;
}

#like-icon{
    /* margin-left: 100px; */
    width: 30px;
    height: auto;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    
}